body
  p  Choose a song from below

form(method='post', action='/')
    WHY_IS_THIS_NOT_SHOWN
      input(type='radio', name='choice', value='first')
      | Feel So Close - Calvin Harris
      br
      input(type='radio', name='choice', value='second')
      | Falling - Drake
      br
      input(type='radio', name='choice', value='third')
      | Under - Lil' Wayne
      br
      input(type='radio', name='choice', value='fourth')
      | Life Goes On - Tupac
      br
      input(type='radio', name='choice', value='fifth')
      | Call Me Maybe - Carly Rae Jepson
      br
      input(type='submit', value='Submit')
